@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap')

$fontStack: Josefin Sans, sans-serif
$fontColor: #000
$titleWeight: 600
$headerWeight: 500
$regularWeight: 400
$backgroundColor: #fff

body
  background-color: $backgroundColor
  font: 100% $fontStack
  color: $fontColor
  font-weight: $regularWeight
